= render 'partials/navbar'

%div{:class => "uk-section uk-section-primary", "uk-height-viewport" => "offset-bottom: 35"}
  .uk-container
    %div{"uk-grid" => "", :class => "uk-grid-collapse uk-child-width-expand@s uk-margin-large-top"}

      -# LEFT COLUMN
      %div

        -# NESTED GRID IN LEFT COLUMN. EACH CHILD IS A ROW
        %div{:class => "uk-child-width-1-1@s", "uk-grid" => ""}

          -# FIRST ROW: BIG SPLASH TEXT
          %div
            %h1.uk-heading-large#ns-splash-main-text
              An app for local trades

          -# SECOND ROW: SLOGAN
          %div
            %p
              Buy or sell anything with anyone in your local area

          -# THIRD ROW: BUTTONS
          %div

            -# NESTED GRID IN ROW
            %div{:class => "uk-child-width-1-1@s uk-child-width-1-2@m", "uk-grid" => ""}

              -# FIRST COLUMN
              %div
                %a{:id => "ns-btn-sell-something", :class => "uk-button uk-button-default uk-button-large uk-width-1-1", :href => "#{new_sell_post_path}"}
                  Sell something

              -# SECOND COLUMN
              %div
                %a{:id => "ns-btn-buy-something", :class => "uk-button uk-button-default uk-button-large uk-width-1-1", :href => "#{new_buy_post_path}"}
                  Buy something

      -# RIGHT COLUMN
      %div.uk-text-center
        %img{"data-src" => "#{image_path 'splashimg.png'}", :width => "", :height => "", :alt => "", "uk-img" => ""}

%div{:class => "uk-section"}
  .uk-container.uk-text-center
    %p
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non turpis eu ligula aliquet vehicula. Curabitur vitae pretium tortor. Curabitur quis justo in sapien faucibus elementum eu ac lacus.

= render 'partials/sitewide_footer'
