.container
  %h1#heading1 Edit a template

  = form_tag template_path(@template), :method => "put" do
    .card
      .card-body

        .form-group
          = label "template", "category", "Category"
          = text_field "template", "category", class: 'form-control'

        .form-group
          = label "template", "post_type", 'Post Type'
          = radio_button "template", "post_type", "buy"
          Buy &nbsp &nbsp
          = radio_button "template", "post_type", "sell"
          Sell

        .form-group
          = label "template", "column_id", 'Column ID'
          = text_field "template", "column_id", class: 'form-control'

        .form-group
          = label "template", "column_name", 'Column Name'
          = text_field "template", "column_name", class: 'form-control'

        .form-group
          = label "template", "datatype", 'Datatype'
          = text_field "template", "datatype", class: 'form-control'

        .form-group
          = submit_tag 'Create', class: 'btn btn-primary btn-lg btn-block'


