= content_for :page_js do
  :javascript

= render 'partials/navbar'

%div{:class => "uk-section lta-section-header"}
  .uk-container.uk-text-center
    %h1 Templates

%div{:class => "uk-section"}
  %div{:class => "uk-container uk-container-small", "uk-height-viewport" => "expand: true"}
    = button_to 'Create new template', new_template_path, method: "get"
    %table.uk-table
      %thead
        %tr
          - @columns.each do |column|
            %th= column[:name]
          %th

      %tbody
        - @templates.each do |template|
          %tr
            - @columns.each do |column|
              %td= template.send column[:id]
            %td= link_to "View", template_path(template.id)

= render 'partials/footer'
