= content_for :page_js do
  :javascript

= render 'partials/navbar'

%div{:class => "uk-section lta-section-header"}
  .uk-container.uk-text-center
    %h1 Create new template

%div{:class => "uk-section"}
  %div{:class => "uk-container uk-container-small", "uk-height-viewport" => "expand: true"}
    = form_tag templates_path, :method => "post" do

      = label "template", "category", "Category"
      = text_field "template", "category", class: 'form-control'
      %br

      = label "template", "post_type", 'Post Type'
      = radio_button "template", "post_type", "buy"
      Buy &nbsp &nbsp
      = radio_button "template", "post_type", "sell"
      Sell
      %br

      = label "template", "column_id", 'Column ID'
      = text_field "template", "column_id", class: 'form-control'
      %br

      = label "template", "column_name", 'Column Name'
      = text_field "template", "column_name", class: 'form-control'
      %br

      = label "template", "datatype", 'Datatype'
      = text_field "template", "datatype", class: 'form-control'
      %br

      = submit_tag 'Create', class: 'btn btn-primary btn-lg btn-block'

= render 'partials/footer'
