-#  This file is app/views/sell_posts/index.html.haml
= content_for(:title, 'Selling Items')
%h1#heading1 Selling items nearby you

= form_tag sell_posts_path, :id => :category_form, :method => :get do
  Categories:
  - @all_categories.each do |category|
    -if category != nil
      = category
      = check_box_tag "categories[#{category}]", 1, session[:categories].include?(category)
    - else
      Uncategorized
      = check_box_tag "categories[nil]", 1, session[:categories].include?(category)
  = submit_tag 'Refresh', id: :ratings_submit



%table#sell-posts.table.table-striped.col-md-12
  %thead
    %tr
      - @columns.each do |column|
        - if column[:sort_allowed]
          %th{:class => (:hilite if session[:sorted_key] == column[:id].to_s )}
            = link_to column[:name], sell_posts_path(:sorted => column[:id]), id: column[:id].to_s + "_header"
        - else
          %th= column[:name]
  %tbody
    - @sell_posts.each do |post|
      %tr
        - @columns.each do |column|
          %td= post.send column[:id]


= link_to 'Reset', sell_posts_path(:reset => true), method: "get"