-#  This file is app/views/sell_posts/index.html.haml
.container
  .row
    = content_for(:title, 'Selling Items')
    %h1#heading1 Selling items nearby you

  .row
    = form_tag sell_posts_path, :id => :category_form, :method => :get do
      Categories:
      - @all_categories.each do |category|
        -if category != nil
          = category
          = check_box_tag "categories[#{category}]", 1, session[:categories].include?(category)
        - else
          Uncategorized
          = check_box_tag "categories[nil]", 1, session[:categories].include?(category)
      = submit_tag 'Refresh', id: :ratings_submit

  .row
    %table#sell-posts.table.table-striped.col-md-12
      %thead
        %tr
          - @columns.each do |column|
            - if column[:sort_allowed]
              - if session[:sorted_key] == column[:id].to_s
              %th{:class => :hilite}
                = link_to column[:name], sell_posts_path(:sorted => "nil"), id: column[:id].to_s + "_header"
              - else
                %th= link_to column[:name], sell_posts_path(:sorted => column[:id]), id: column[:id].to_s + "_header"
            - else
              %th= column[:name]
      %tbody
        - @sell_posts.each do |post|
          %tr
            - @columns.each do |column|
              - if column[:id] == :title
                %td= link_to post.title.presence || "(no title)", sell_post_path(post.id)
              - elsif column[:name] == :upload_image
                - if post.upload_image.attached?
                  %td= image_tag(post.upload_image, size: '50x50')
              - else
                %td= post.send column[:id]

  .row
    %div{:class => "col-6", :style => "height:600px;"}
      %div{:id => "gmap", :style => "width:100%; height:600px; border: 1px solid red;"}
    .col-6
      %div{:id => "sellposts-maplist"}
        test

        -# = provide :head_tags do
        -#
        -#   - @sell_posts.each do |post|
        -#     =post.latitude
        -#
        -#   :javascript
        -#     console.log('locations: ' + locations);

  .row
    .col
      = button_to 'Sell Your Item', new_sell_post_path, method: "get"