%nav{:class => "uk-navbar-container theme-navbar-dark", "uk-navbar" => ""}
  .uk-navbar-left
    = link_to ApplicationController::APP_NAME, { :controller => 'static_page', action: 'home' }, :class => 'uk-navbar-item uk-logo'
  .uk-navbar-center

  .uk-navbar-right
    %ul.uk-navbar-nav
      %li
        %a
          Browse
        %div{"uk-dropdown" => "pos: bottom-justify"}
          %ul.uk-nav.uk-dropdown-nav
            %li
              = link_to "For sale", { :controller => 'sell_posts' }, :class => ""
            %li
              = link_to "For request", { :controller => 'buy_posts' }, :class => ""

      %li
        %a{:href => "#{new_sell_post_path}"} Buy
      %li
        %a{:href => "#{new_buy_post_path}"} Sell

      - if @current_user
        %li
          = link_to 'Account', { :controller => 'users' }
        -# = link_to 'Logout', { :controller => 'sessions', :action => 'destroy' }, :class => 'dropdown-item'
      - else
        %li
          = link_to 'Register', { :controller => 'users', :action => 'new' }
        %li
          = link_to 'Login', { :controller => 'users', :action => 'login' }
