.container
  %h1 Register account

  = form_tag users_path do

    .card
      .card-body

        .form-group
          = label :users, :first_name, 'First name'
          = text_field :users, 'first_name', class: 'form-control'

        .form-group
          = label :users, :last_name, 'Last name'
          = text_field :users, 'last_name', class: 'form-control'