.container
  %h1#heading1 Post Your Request

  = form_tag buy_posts_path, :method => "post", multipart: true do

    .card
      .card-body

        .form-group
          = label :buy_post, :title, 'Title'
          = text_field :buy_post, :title, class: 'form-control'

        .form-group
          = label :buy_post, :category, "Category"
          = text_field :buy_post, :category, class: 'form-control'
          = link_to 'Create a new template', new_template_path

        .form-group
          = label :buy_post, :price, 'Price Range'
          %br
          = number_field :buy_post, :price_low, step: 0.01
          %b ~
          = number_field :buy_post, :price_high, step: 0.01

        .form-group
          = label :buy_post, :content, 'Content'
          = text_field :buy_post, :content, class: 'form-control'

        %div{:id => "post_detail"}

        .form-group
          = label :buy_post, :upload_image, 'Upload_Image'
          = file_field :buy_post, :upload_image, class: 'form-control-file'

        .form-group
          = submit_tag 'Post Your Request!', class: 'btn btn-primary btn-lg btn-block'


:javascript
  $('input#buy_post_category').on('change', function(event) {
    Rails.ajax({
      type: "Get",
      url: '/buy_posts/detail_form',
      data: 'category=' + $(this).val(),
      success: function(data) {
        Rails.$("#post_detail")[0].innerHTML = data.html;
      }
    })
  })

