= content_for :page_js do
  :javascript

= render 'partials/navbar'

%div{:class => "uk-section lta-section-header"}
  .uk-container.uk-text-center
    %h1 #{@buy_post.title}

%div{:class => "uk-section"}
  %div{:class => "uk-container uk-container-small", "uk-height-viewport" => "expand: true"}

    %ul
      %li
        Category:
        = @buy_post.category
      %li
        Buyer:
        = @buy_post.user_id
      %li
        Price:
        %span $
        = @buy_post.price_low
        %span ~
        = @buy_post.price_high
      %li
        Posted At:
        = @buy_post.updated_at.strftime("%B %d, %Y")
      %li
        - if @buy_post.upload_image.attached?
          =image_tag @buy_post.upload_image
        - else
          "No Image Available"

    %div
      = link_to 'Sell this Item', new_sell_post_path, {:style => "width: 100%; display: inline-block; text-align: center;"}
    -#  Add a link to Buy Page built by Mingen!


    %h4 Description:
    %ul
      - @templates.each do |field|
        %li #{field.column_name}: #{@details[field.column_id]}

    - if @current_user.email == @buy_post.user_id
      = button_to 'Edit', edit_buy_post_path(@buy_post), :method => :get, :class => 'btn btn-primary'
      %br
      = button_to 'Delete',  buy_post_path(@buy_post), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-primary'

  %br
  %div
    = link_to 'Back to Buy post list', buy_posts_path, {:style => "width: 100%; display: inline-block; text-align: center;"}