!!!
%html
  %head
    %title= @title || yield(:title)

    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/

    %script{:src => "https://kit.fontawesome.com/13893fd07e.js", :crossorigin => "anonymous"}

    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'

    -# Google Maps Javascript API
    = javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=' + Rails.application.credentials.google_maps_api_key

    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

    = yield(:head_tags)

    = yield(:page_js)

  %body
    #main
      - if flash[:notice]
        %div.alert.alert-danger
          #notice.message= flash[:notice]
      - elsif flash[:warning]
        %div.alert.alert-danger
          #warning.message= flash[:warning]
    = yield
