!!!
%html
  %head
    %title= @title || yield(:title)

    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/

    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    #main
      - if flash[:notice]
        %div.alert.alert-danger
          #notice.message= flash[:notice]
      - elsif flash[:warning]
        %div.alert.alert-danger
          #warning.message= flash[:warning]
    = yield
